<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>{{title}}</title>
</head>

<body>
    <div id="container">
        {{#if errors}}
        <div class="notification errorBox">
            {{#each errors}}
            <span>{{this}}</span>
            {{/each}}
        </div>
        {{/if}}
        <nav class="navbar">

            <div id="left-buttons">
                <a class="button" href="/catalog/backery">Печива</a>
                <a class="button" href="/catalog/mats">Материали</a>
                <a class="button" href="/about">Контакти</a>
            </div>
            {{#if admin}}
            <div id="admin">
                <a class="button" href="/add">Добави</a>
            </div>
            {{/if}}
            <div id="right-buttons">
                {{#if user}}
                <span>Здравей, {email}</span>
                <a id="logoutBtn" class="button" href="/logout">Изход</a>
                {{else}}
                <a class="button" href="/login">Вход</a>
                <a class="button" href="/register">Регистрация</a>
                {{/if}}
            </div>

        </nav>

        <main id="site-content">
            {{{body}}}
        </main>


        <footer id="site-footer">
            <p>@Djini's Backery</p>
        </footer>
    </div>
</body>

</html>