<section class="create">
    {{#if order}}
    <form action="/cart/order" method="post">
        <fieldset>
            <legend>Данни за доставка</legend>

            <p class="field">
                <label for="description">Описание:</label>
                <span class="input">
                    {{#each order.products}}
                    <div>{{name}} -- {{quantity}} бр.</div>
                    {{/each}}
                </span>
            </p>

            <p class="field">
                <label for="image">Общо:</label>
                <span class="input">
                    <div>{{order.totalPrice}}лв.</div>
                </span>
            </p>

            <p class="field">
                <label for="image">Име:</label>
                <span class="input">
                    <input type="text" name="name" placeholder="name" >
                </span>
            </p>

            <p class="field">
                <label for="description">Адрес за доставка:</label>
                <span class="input">
                    <textarea name="address" placeholder="address"></textarea>
                </span>
            </p>

            <p class="field">
                <label for="image">Телефон за връзка:</label>
                <span class="input">
                    <input type="text" name="phone" placeholder="phone number">
                </span>
            </p>

            <input type="submit" id="accept" class="button" value="Потвърди" />
            <a href="/cart/order/delete" class="button submit">Откажи</a>

        </fieldset>
    </form>
    {{else}}
    <p id="emptyField" class="field">
        Все още нямате нищо добавено в кошницата.
    </p>
    {{/if}}
</section>