<section id="create-page" class="create">
    {{#if order}}
    <form id="create-form" action="/cart/orders" method="post">
        <fieldset>
            <legend>Избрани продукти</legend>

            <p class="field">
                <label for="description">Описание:</label>
                <span class="input">
                    {{#each order.products}}
                    <div>{{name}} -- {{quantity}} бр.</div>
                    {{/each}}
                </span>
            </p>

            <p class="field">
                <label for="image">Общо:</label>
                <span class="input">
                    <div>{{order.totalPrice}}лв.</div>
                </span>
            </p>

            <p class="field">
                <label for="image">Телефон за връзка:</label>
                <span class="input">
                    <input type="text" name="phone" id="phone" value="">
                </span>
            </p>
            <a href="/cart/oder/accept" class="button submit">Потвърди</a>
            <a href="/cart/order/delete" class="button submit">Откажи</a>

        </fieldset>
    </form>
    {{else}}
    <p class="field">
        Все още нямате нищо добавено в кошницата.
    </p>
    {{/if}}
    
</section>