<section id="details-page" class="details">
    <div class="product-info">

        <h3>{{material.name}}</h3>
        <p class="img"><img src="{{material.img}}"></p>

    </div>

    <div class="product-description">

        <h3>Описание:</h3>
        <p>{{material.description}}</p>

    </div>
</section>