<section class="homePage">

    <h1 class="home-title">Добре дошли в пекарната</h1>
    <div class="info-container">

        <strong>

            <p> Тук можете да разгледате колекция от печива както и различни сладкарски инструменти и съставки. </p>

            <p>Сайтът предлага опция за поръчване, като за целта е необходимо или да се
                <a href="/register">регистрирате</a>
                или да поръчате по телефон или имейл на посочените <a href="/about">контакти.</a>
            </p>

            <p>Искаме да ви информираме, че сайтът не е направен с цел за продажби на едро !</p>
            <p>При поръчка на по-големи количества е възможно да се свържем с Вас по телефон за потвърждение.</p>

        </strong>.

    </div>

</section>