<section class="homePage">

    <h1>Добре дошли в пекарната</h1>
    <p>Тук можете да разгледате колекция от <a href="/catalog/backery">сладкиши</a> и
        <a href="/catalog/materials">материали</a> за приготвянето на някой от тях.
    </p>
    <p>Ако нещо Ви изглежда апетитно може да си го поръчате през системата на сайта ако се
        <a href="/register">регистрирате</a> или на посочените <a href="/about">контакти.</a>
    </p>
    
</section>