<section class="login">
    <form action="/login" method="post">
        <fieldset>

            <p class="field">
                <label for="email">Имейл:</label>
                <span class="input">
                    <input type="text" name="email" placeholder="email" value="{{body.email}}">
                </span>
            </p>

            <p class="field">
                <label for="password">Парола:</label>
                <span class="input">
                    <input type="password" name="password" placeholder="Password">
                </span>
            </p>

            <p class="field">
                Все още нямате профил ? - <a href="/register">Регистрация</a>
            </p>
            
            <input id="login" class="button" type="submit" value="Вход">
        </fieldset>
    </form>
</section>