<section id="register-page" class="register">
    <form id="register-form" action="/register" method="post">
        <fieldset>
            <p class="field">
                <label for="username">Име:</label>
                <span class="input">
                    <input type="text" name="username" id="username" placeholder="username" value="{{body.username}}">
                </span>
            </p>
            <p class="field">
                <label for="email">Имейл:</label>
                <span class="input">
                    <input type="text" name="email" id="email" placeholder="Email" value="{{body.email}}">
                </span>
            </p>
            <p class="field">
                <label for="password">Парола:</label>
                <span class="input">
                    <input type="password" name="password" id="password" placeholder="Password">
                </span>
            </p>
            <p class="field">
                <label for="password">Повтори паролата:</label>
                <span class="input">
                    <input type="password" name="repass" id="password" placeholder="Repeat Password">
                </span>
            </p>
            <p class="field">
                Вече имате регистрация ? - <a href="/login">Вход</a>
            </p>
            <input class="formBtn" type="submit" value="Регистрация">
        </fieldset>
    </form>
</section>