<section class="register">
    <form action="/register" method="post">
        <fieldset>

            <p class="field">
                <label for="username">Име:</label>
                <span class="input">
                    <input type="text" name="username" placeholder="username" value="{{body.username}}">
                </span>
            </p>

            <p class="field">
                <label for="email">Имейл:</label>
                <span class="input">
                    <input type="text" name="email" placeholder="Email" value="{{body.email}}">
                </span>
            </p>

            <p class="field">
                <label for="password">Парола:</label>
                <span class="input">
                    <input type="password" name="password" placeholder="Password">
                </span>
            </p>

            <p class="field">
                <label for="password">Повтори паролата:</label>
                <span class="input">
                    <input type="password" name="repass" placeholder="Repeat Password">
                </span>
            </p>

            <p class="field">
                Вече имате регистрация ? - <a href="/login">Вход</a>
            </p>
            
            <input id="register" class="button" type="submit" value="Регистрация">
        </fieldset>
    </form>
</section>