nav.navbar {
    display: flexbox;
    letter-spacing: 0.05rem;
    background: #234465;
    padding: 0.8rem 1rem;
    color: white;
}

.button:hover,
nav.navbar ul li a:hover,
nav.navbar ul li:hover>a {
    background: lightsalmon;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
}

#left-buttons {
    display: inline-flex;
    margin: 0;
}

#right-buttons {
    display: inline-flex;
    position: relative;
    float: right;
}

#admin {
    display: inline-flex;
}

#greeting {
    align-self: center;
}

#basket {
    background: none;
    margin: 0px;
    padding-bottom: 0;

}

.logo {
    width: 56px;
    height: 36px;
    display: inline;
    position: static;
    padding: 0px;
    border-radius: 1rem;
}